name: RootFS Release

on:
  workflow_dispatch:
  schedule:
    - cron: '30 */3 * * *' # Executa todos os dias, a cada 3 horas: 21:30, 00:30, 03:30, 06:30, 09:30, 12:30, 15:30, 18:30 (UTC-3)

jobs:
  check-new-release:
    runs-on: ubuntu-latest
    outputs:
      LATEST_SNAPSHOT_DATE_FORMATTED: ${{ steps.check_release.outputs.LATEST_SNAPSHOT_DATE_FORMATTED }}
      CHANGES_FILE: ${{ steps.get_latest_snapshot.outputs.CHANGES_FILE }}

    steps:
    - name: Get the latest Tumbleweed snapshot date
      id: get_latest_snapshot
      run: |
        query_url="http://download.opensuse.org/tumbleweed/iso"
        count=0
        latest_tumbleweed_snapshot=""
        while [ -z "$latest_tumbleweed_snapshot" ]; do
            date=$(date --date="${dataset_date} - $count day" +%Y%m%d)
            latest_tumbleweed_snapshot=$(curl -sL "$query_url" | grep -E "name.*Changes\.$date.txt" | sed -E 's/.*>(Changes\.[0-9]{8}\.txt)<.*/\1/')
            count=$((count+1))
        done
        latest_tumbleweed_snapshot_date=${latest_tumbleweed_snapshot//[!0-9]/}
        latest_tumbleweed_snapshot_date_formatted=$(date -d $latest_tumbleweed_snapshot_date +%Y-%m-%d)

        echo "Latest Tumbleweed snapshot date: $latest_tumbleweed_snapshot_date_formatted"

        echo "LATEST_SNAPSHOT_DATE_FORMATTED=$latest_tumbleweed_snapshot_date_formatted" >> $GITHUB_ENV
        echo "CHANGES_FILE=$query_url/$latest_tumbleweed_snapshot" >> $GITHUB_OUTPUT

    - name: Check if snapshot is already released
      id: check_release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        existing_release=$(gh release list --repo ${{ github.repository }} --limit 100 | grep 'Latest' | awk '{print $1}'| grep "$LATEST_SNAPSHOT_DATE_FORMATTED" || true)
        if [ -n "$existing_release" ]; then
          echo "Snapshot $LATEST_SNAPSHOT_DATE_FORMATTED already released. Exiting."
          exit 0
        else
          echo "Snapshot $LATEST_SNAPSHOT_DATE_FORMATTED not released yet. Proceeding."
          echo "LATEST_SNAPSHOT_DATE_FORMATTED=$LATEST_SNAPSHOT_DATE_FORMATTED" >> $GITHUB_OUTPUT
          exit 0
        fi

  generate-rootfs:
    needs: check-new-release
    if: ${{ success() && needs.check-new-release.outputs.LATEST_SNAPSHOT_DATE_FORMATTED != null }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Start openSUSE Tumbleweed container in privileged mode
      id: start_container
      run: |
        docker run -d --privileged \
          --name opensuse-tumbleweed \
          -v "${{ github.workspace }}:/workspace" \
          -w /workspace \
          registry.opensuse.org/opensuse/tumbleweed:latest \
          sleep infinity

    - name: Tune Zypper and install the required dependencies
      run: |
        docker exec opensuse-tumbleweed sh -c "echo 'solver.onlyRequires = false' > /etc/zypp/zypp.conf.d/solver-only-requires.conf"
        docker exec opensuse-tumbleweed sh -c "echo 'rpm.install.excludedocs = false' > /etc/zypp/zypp.conf.d/rpm-install-excludedocs.conf"
        docker exec opensuse-tumbleweed zypper -n refresh
        docker exec opensuse-tumbleweed zypper -n install tar xz gawk wget gtk3-tools

    - name: Run preparar-raiz script
      run: |
        docker exec opensuse-tumbleweed chmod +x /workspace/scripts-auxiliares/preparar-raiz
        docker exec opensuse-tumbleweed /workspace/scripts-auxiliares/preparar-raiz /workspace/rootfs s

    - name: Verify generated files
      run: |
        echo "Listing generated files in workspace..."
        echo " - Directory: ${{ github.workspace }}"
        ls -l ${{ github.workspace }}

    - name: Get current date (BRT)
      run: echo "DATE=$(date -d "-3 hours" +'%d/%m/%Y')" >> $GITHUB_ENV

    - name: Create Draft Release and Upload Assets
      run: |
        FILES=$(readlink -f "${{ github.workspace }}/rootfs-${{ needs.check-new-release.outputs.LATEST_SNAPSHOT_DATE_FORMATTED }}.tar.xz."* | tr '\n' ' ')
        DESCRIPTION="Raiz do sistema operacional openSUSE Tumbleweed, gerada em ${{ env.DATE }}. As mudanças são listadas abaixo:\n\n${{ needs.check-new-release.outputs.CHANGES_FILE }}"

        gh release create \
          "${{ needs.check-new-release.outputs.LATEST_SNAPSHOT_DATE_FORMATTED }}" \
          $FILES \
          --title "${{ needs.check-new-release.outputs.LATEST_SNAPSHOT_DATE_FORMATTED }}" \
          --notes "$(echo -e $DESCRIPTION)" \
          --draft
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish Release
      run: |
        gh release edit ${{ needs.check-new-release.outputs.LATEST_SNAPSHOT_DATE_FORMATTED }} --draft=false --repo ${{ github.repository }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Stop and remove container
      if: always()
      run: |
        docker stop opensuse-tumbleweed
        docker rm opensuse-tumbleweed

  rerun-on-failure:
    needs: generate-rootfs
    if: failure() && github.run_attempt < 2
    runs-on: ubuntu-latest
    steps:
      - name: Trigger the workflow again
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
        run: gh workflow run rerun-workflow.yaml -F run_id=${{ github.run_id }}